div#createAdBannerContainer {
  background-image: var(--linear-gradient-duo);
  margin-top: 32px;
  padding-top: 4px;
  border-radius: 8px;
  align-self: stretch;
  overflow: hidden;
}

div#createAdBannerContainer div.bannerContainer {
  background-color: rgb(42 38 52 / var(--bg-opacity));
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#createAdBannerContainer div.bannerContainer strong {
  color: rgb(255 255 255 / var(--text-opacity));
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  display: block;
}

div#createAdBannerContainer div.bannerContainer span {
  color: rgb(161 161 170 / var(--text-opacity));
  display: block;
}

div#createAdBannerContainer div.bannerContainer .buttonCreateAd {
  background-color: rgb(139 92 246 / var(--bg-opacity));
  color: rgb(255 255 255 / var(--text-opacity));
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
}

div#createAdBannerContainer div.bannerContainer .buttonCreateAd:hover {
  background-color: rgb(124 58 237 / var(--bg-opacity));
}