.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.left {
  left: 5px;
}

.right {
  left: auto;
  right: 5px;
}

.disabled {
  display: none;
}